<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2.5ジゲン！！</key>
	<string>/ntgjigen/all.xml</string>
	<key>AbemaTIMES</key>
	<string>/abema/all.xml</string>
	<key>ALL REVIEWS</key>
	<string>/allreview/all.xml</string>
	<key>BARKS</key>
	<string>/bark/all.xml</string>
	<key>Billboard JAPAN</key>
	<string>/exp/all.xml</string>
	<key>BuzzFeed Japan</key>
	<string>/bfj/all.xml</string>
	<key>cinemacafe.net</key>
	<string>/cinranet/all.xml</string>
	<key>CINEMORE</key>
	<string>/cinemore/all.xml</string>
	<key>CINRA.NET</key>
	<string>/cinranet/all.xml</string>
	<key>ELLEgirl</key>
	<string>/ellegirl/all.xml</string>
	<key>ELLE ONLINE</key>
	<string>/elleonline/all.xml</string>
	<key>ENCOUNT</key>
	<string>/encount/all.xml</string>
	<key>Engadget 日本版</key>
	<string>/engadgetj/all.xml</string>
	<key>E-TALENTBANK</key>
	<string>/etalent/all.xml</string>
	<key>FNN.jpプライムオンライン</key>
	<string>/fnnprimev/all.xml</string>
	<key>Game Spark</key>
	<string>/gamespav/all.xml</string>
	<key>HOMINIS（ホミニス）</key>
	<string>/hominis/all.xml</string>
	<key>IGN JAPAN</key>
	<string>/ignjapan/all.xml</string>
	<key>Impress Watch</key>
	<string>/impress/all.xml</string>
	<key>ITmedia NEWS</key>
	<string>/zdn_n/all.xml</string>
	<key>ITmedia PC USER</key>
	<string>/zdn_pc/all.xml</string>
	<key>J-CASTニュース</key>
	<string>/jct-c_ent.xml</string>
	<key>J-WAVE NEWS</key>
	<string>/jwave/all.xml</string>
	<key>Lmaga.jp</key>
	<string>/lmaga/all.xml</string>
	<key>Movie Walker</key>
	<string>/mvwalk/all.xml</string>
	<key>MusicVoice</key>
	<string>/musicv/all.xml</string>
	<key>OKMusic</key>
	<string>/okm/all.xml</string>
	<key>rockinon.com</key>
	<string>/rorock/all.xml</string>
	<key>Stereo Sound ONLINE</key>
	<string>/ssonline/all.xml</string>
	<key>THE PAGE</key>
	<string>/wordleaf/all.xml</string>
	<key>TOKYO FM＋</key>
	<string>/tokyofm/all.xml</string>
	<key>TOKYO HEADLINE WEB</key>
	<string>/theadline/all.xml</string>
	<key>withnews</key>
	<string>/withnews/all.xml</string>
	<key>WoW!Korea</key>
	<string>/wow/all.xml</string>
	<key>アニメ！アニメ！</key>
	<string>/anmanmv/all.xml</string>
	<key>アフロ</key>
	<string>/storyfulv/all.xml</string>
	<key>インサイド</key>
	<string>/isd/all.xml</string>
	<key>映画.com</key>
	<string>/eiga/all.xml</string>
	<key>映画ナタリー</key>
	<string>/nataliee/all.xml</string>
	<key>エキサイトミュージック</key>
	<string>/exmusic/all.xml</string>
	<key>沖縄タイムス</key>
	<string>/okinawat/all.xml</string>
	<key>オリコン</key>
	<string>/oric/all.xml</string>
	<key>お笑いナタリー</key>
	<string>/natalieo/all.xml</string>
	<key>音楽ナタリー</key>
	<string>/natalien/all.xml</string>
	<key>カナロコ by 神奈川新聞</key>
	<string>/kana/all.xml</string>
	<key>ギズモード・ジャパン</key>
	<string>/giz/all.xml</string>
	<key>クランクイン！</key>
	<string>/crankinn/all.xml</string>
	<key>コミックナタリー</key>
	<string>/nataliec/all.xml</string>
	<key>産経新聞</key>
	<string>/san/all.xml</string>
	<key>中日スポーツ</key>
	<string>/chuspo/all.xml</string>
	<key>チケットぴあ</key>
	<string>/pia/all.xml</string>
	<key>スポーツ報知</key>
	<string>/sph/all.xml</string>
	<key>中京テレビ</key>
	<string>/ctvg/all.xml</string>
	<key>東スポWeb</key>
	<string>/tospoweb/all.xml</string>
	<key>電ファミニコゲーマー</key>
	<string>/denfami/all.xml</string>
	<key>日刊スポーツ</key>
	<string>/nksports/all.xml</string>
	<key>ぴあ</key>
	<string>/piaeigat/all.xml</string>
	<key>マイナビニュース</key>
	<string>/mynavin/all.xml</string>
	<key>夕刊フジ</key>
	<string>/ykf/all.xml</string>
</dict>
</plist>
