<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABCテレビ</key>
	<string>/asahibc/all.xml</string>
	<key>EDN Japan</key>
	<string>/it_edn/all.xml</string>
	<key>FNN.jpプライムオンライン</key>
	<string>/fnnprimev/all.xml</string>
	<key>ITmedia Mobile</key>
	<string>/zdn_m/all.xml</string>
	<key>ITmedia PC USER</key>
	<string>/zdn_pc/all.xml</string>
	<key>ITmedia NEWS</key>
	<string>/zdn_n/all.xml</string>
	<key>MBSニュース</key>
	<string>/mbsnews/all.xml</string>
	<key>TechCrunch Japan</key>
	<string>/techcrj/all.xml</string>
	<key>＠IT</key>
	<string>/zdn_ait/all.xml</string>
	<key>TechTargetジャパン</key>
	<string>/zdn_tt/all.xml</string>
	<key>産経新聞</key>
	<string>/san-c/all.xml</string>
	<key>マイナビニュース</key>
	<string>/mynavin/all.xml</string>
</dict>
</plist>
