<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABCテレビ</key>
	<string>/asahibc/all.xml</string>
	<key>AMP［アンプ］</key>
	<string>/ampreview/all.xml</string>
	<key>Aviation Wire</key>
	<string>/awire/all.xml</string>
	<key>BuzzFeed Japan</key>
	<string>/bfj/all.xml</string>
	<key>carview！</key>
	<string>/carv/all.xml</string>
	<key>EE Times Japan</key>
	<string>/it_eetimes/all.xml</string>
	<key>FNN.jpプライムオンライン</key>
	<string>/fnnprimev/all.xml</string>
	<key>Impress Watch</key>
	<string>/impress/all.xml</string>
	<key>J-CASTニュース</key>
	<string>/jct/all.xml</string>
	<key>MBSニュース</key>
	<string>/mbsnews/all.xml</string>
	<key>MONEYzine</key>
	<string>/sh_mon/all.xml</string>
	<key>MOTA</key>
	<string>/autoconen/all.xml</string>
	<key>SankeiBiz</key>
	<string>/fsi/all.xml</string>
	<key>THE PAGE</key>
	<string>/wordleaf/all.xml</string>
	<key>withnews</key>
	<string>/withnews/all.xml</string>
	<key>＆GP</key>
	<string>/andgp/all.xml</string>
	<key>共同通信</key>
	<string>/kyodonews/all.xml</string>
	<key>健康産業新聞</key>
	<string>/kenkoshin/all.xml</string>
	<key>産経新聞</key>
	<string>/san/all.xml</string>
	<key>食品産業新聞社ニュースWEB</key>
	<string>/ssnp/all.xml</string>
	<key>スマートジャパン</key>
	<string>/biz_it_sj/all.xml</string>
	<key>中京テレビＮＥＷＳ</key>
	<string>/ctv/all.xml</string>
	<key>帝国データバンク</key>
	<string>/teikokudb/all.xml</string>
	<key>鉄道コム</key>
	<string>/tetsucom/all.xml</string>
	<key>デーリー東北新聞社</key>
	<string>/dtohoku/all.xml</string>
	<key>東京商工リサーチ</key>
	<string>/biz_shoko/all.xml</string>
	<key>西日本新聞</key>
	<string>/nishinp/all.xml</string>
	<key>日刊工業新聞電子版</key>
	<string>/nkogyo/all.xml</string>
	<key>ニッポン放送</key>
	<string>/nshaberu/all.xml</string>
	<key>日本農業新聞</key>
	<string>/agrinews/all.xml</string>
	<key>ニュースソクラ</key>
	<string>/socra/all.xml</string>
	<key>乗りものニュース</key>
	<string>/norimono/all.xml</string>
	<key>バイクのニュース</key>
	<string>/bikeno/all.xml</string>
	<key>弁護士ドットコム</key>
	<string>/bengocom/all.xml</string>
	<key>みなと新聞</key>
	<string>/minatos/all.xml</string>
	<key>モーニングスター</key>
	<string>/biz_mos/all.xml</string>
	<key>AbemaTIMES</key>
	<string>/abema/all.xml</string>
	<key>AUTOCAR JAPAN</key>
	<string>/autocar/all.xml</string>
	<key>BUSINESS INSIDER JAPAN</key>
	<string>/binsider/all.xml</string>
	<key>CAPA CAMERA WEB</key>
	<string>/capa/all.xml</string>
	<key>CBCテレビ</key>
	<string>/cbc/all.xml</string>
	<key>Engadget 日本版</key>
	<string>/engadgetj/all.xml</string>
	<key>GetNavi web</key>
	<string>/getnavi/all.xml</string>
	<key>ITmedia ビジネスオンライン</key>
	<string>/zdn_mkt/all.xml</string>
	<key>LIMO</key>
	<string>/toushin/all.xml</string>
	<key>MONEY PLUS</key>
	<string>/moneyplus/all.xml</string>
	<key>MONOist</key>
	<string>/it_monoist/all.xml</string>
	<key>qBiz 西日本新聞経済電子版</key>
	<string>/qbizs/all.xml</string>
	<key>TechCrunch Japan</key>
	<string>/techcrj/all.xml</string>
	<key>WATCHNAVI Salon</key>
	<string>/watchnavi/all.xml</string>
	<key>アスキー</key>
	<string>/ascii/all.xml</string>
	<key>関西テレビ</key>
	<string>/kantele/all.xml</string>
	<key>くるまのニュース</key>
	<string>/kurumans/all.xml</string>
	<key>健康産業速報</key>
	<string>/kenkosoku/all.xml</string>
	<key>山陽新聞デジタル</key>
	<string>/sanyo/all.xml</string>
	<key>食品新聞</key>
	<string>/shokuhin/allxml</string>
	<key>税理士ドットコム</key>
	<string>/zeiricom/all.xml</string>
	<key>中部経済新聞</key>
	<string>/chukei/all.xml</string>
	<key>鉄鋼新聞</key>
	<string>/tekkou/all.xml</string>
	<key>テレ東プラス</key>
	<string>/tvtplus/all.xml</string>
	<key>東海テレビ</key>
	<string>/tokai/all.xml</string>
	<key>トラベルボイス</key>
	<string>/travelv/all.xml</string>
	<key>日刊ゲンダイDIGITAL</key>
	<string>/nkgendai/all.xml</string>
	<key>日刊産業新聞</key>
	<string>/sangyo/all.xml</string>
	<key>日本食糧新聞</key>
	<string>/nissyoku/all.xml</string>
	<key>ニュースイッチ</key>
	<string>/newswitch/all.xml</string>
	<key>ねとらぼ</key>
	<string>/it_nlab/all.xml</string>
	<key>ハフポスト日本版</key>
	<string>/huffpost/all.xml</string>
	<key>ファイナンシャルフィールド</key>
	<string>/ffield/all.xml</string>
	<key>マネーの達人</key>
	<string>/manetatsun/all.xml</string>
	<key>メ〜テレ（名古屋テレビ）</key>
	<string>/nbn/all.xml</string>
	<key>レスポンス</key>
	<string>/rps/all.xml</string>
</dict>
</plist>
