<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>47NEWS</key>
	<string>/yonnana/all.xml</string>
	<key>ABCニュース</key>
	<string>/asahibc/all.xml</string>
	<key>AbemaTIMES</key>
	<string>/abema/all.xml</string>
	<key>Aviation Wire</key>
	<string>/awire/all.xml</string>
	<key>BUSINESS INSIDER JAPAN</key>
	<string>/binsider/all.xml</string>
	<key>BuzzFeed Japan</key>
	<string>/bfj/all.xml</string>
	<key>CBCテレビ</key>
	<string>/cbc/all.xml</string>
	<key>ENCOUNT</key>
	<string>/encount/all.xml</string>
	<key>FNN.jpプライムオンライン</key>
	<string>/fnnprimev/all.xml</string>
	<key>ITmedia ビジネスオンライン</key>
	<string>/zdn_mkt/all.xml</string>
	<key>J-CASTニュース</key>
	<string>/jct/all.xml</string>
	<key>MBSニュース</key>
	<string>/mbsnews/all.xml</string>
	<key>qBiz 西日本新聞経済電子版</key>
	<string>/qbizs/all.xml</string>
	<key>tenki.jp</key>
	<string>/tenki/all.xml</string>
	<key>THE PAGE</key>
	<string>/wordleaf/all.xml</string>
	<key>TOKYO MX</key>
	<string>/tokyomx/all.xml</string>
	<key>tvkニュース（テレビ神奈川）</key>
	<string>/tvk/all.xml</string>
	<key>withnews</key>
	<string>/withnews/all.xml</string>
	<key>アジアプレス・ネットワーク</key>
	<string>/asiap/all.xml</string>
	<key>アフロ</key>
	<string>/storyfulv/all.xml</string>
	<key>医療介護CBニュース</key>
	<string>/cbn/all.xml</string>
	<key>ウェザーニュース</key>
	<string>/weather/all.xml</string>
	<key>ウェザーマップ</key>
	<string>/wmap/all.xml</string>
	<key>沖縄タイムス</key>
	<string>/okinawat/all.xml</string>
	<key>カナロコ by 神奈川新聞</key>
	<string>/kana/all.xml</string>
	<key>関西テレビ</key>
	<string>/kantele/all.xml</string>
	<key>共同通信</key>
	<string>/kyodonews/all.xml</string>
	<key>高校生新聞オンライン</key>
	<string>/koukousei/all.xml</string>
	<key>産経新聞</key>
	<string>/san/all.xml</string>
	<key>山陽新聞デジタル</key>
	<string>/sanyo/all.xml</string>
	<key>スポニチアネックス</key>
	<string>/spnannex/all.xml</string>
	<key>スポーツ報知</key>
	<string>/sph/all.xml</string>
	<key>選挙ドットコム</key>
	<string>/senkyocom/all.xml</string>
	<key>税理士ドットコム</key>
	<string>/zeiricom/all.xml</string>
	<key>中京テレビＮＥＷＳ</key>
	<string>/ctv/all.xml</string>
	<key>中国新聞デジタル</key>
	<string>/chugoku/all.xml</string>
	<key>テレ朝POST</key>
	<string>/asapostv/all.xml</string>
	<key>テレ玉</key>
	<string>/teletama/all.xml</string>
	<key>東海テレビ</key>
	<string>/tokai/all.xml</string>
	<key>西日本新聞</key>
	<string>/nishinp/all.xml</string>
	<key>日刊スポーツ</key>
	<string>/nksports/all.xml</string>
	<key>ニッポン放送</key>
	<string>/nshaberu/all.xml</string>
	<key>日本農業新聞</key>
	<string>/agrinews/all.xml</string>
	<key>ニュースイッチ</key>
	<string>/newswitch/all.xml</string>
	<key>ニュースソクラ</key>
	<string>/socra/all.xml</string>
	<key>ねとらぼ</key>
	<string>/it_nlab/all.xml</string>
	<key>ハフポスト日本版</key>
	<string>/huffpost/all.xml</string>
	<key>ビデオニュース・ドットコム</key>
	<string>/videonewsv/all.xml</string>
	<key>福祉新聞</key>
	<string>/fukushi/all.xml</string>
	<key>弁護士ドットコム</key>
	<string>/bengocom/all.xml</string>
	<key>北海道新聞</key>
	<string>/doshin/all.xml</string>
	<key>マイナビニュース</key>
	<string>/mynavin/all.xml</string>
	<key>メ〜テレ（名古屋テレビ）</key>
	<string>/nbn/all.xml</string>
	<key>読売テレビ</key>
	<string>/ytv/all.xml</string>
	<key>レスキューナウニュース</key>
	<string>/rescuenow/all.xml</string>
	<key>レスポンス</key>
	<string>/rps/all.xml</string>
</dict>
</plist>
