<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbemaTIMES</key>
	<string>/abema-c_int.xml</string>
	<key>AP通信</key>
	<string>/aptsushinv-c_int.xml</string>
	<key>BUSINESS INSIDER JAPAN</key>
	<string>/binsider-c_int.xml</string>
	<key>CNN.co.jp</key>
	<string>/cnn-c_int.xml</string>
	<key>FNN.jpプライムオンライン</key>
	<string>/fnnprimev-c_int.xml</string>
	<key>INDO WATCHER ビジネスプレミアム</key>
	<string>/indowatch-c_int.xml</string>
	<key>MEGABRASIL</key>
	<string>/mbrasiln-c_int.xml</string>
	<key>The New York Times</key>
	<string>/clc_nytv-c_int.xml</string>
	<key>The Telegraph</key>
	<string>/clc_teleg-c_int.xml</string>
	<key>WoW!Korea</key>
	<string>/wow-c_int.xml</string>
	<key>アフロ</key>
	<string>/storyfulv-c_int.xml</string>
	<key>産経新聞</key>
	<string>/san-c_int.xml</string>
	<key>中央日報日本語版</key>
	<string>/cnippou-c_int.xml</string>
	<key>東方新報</key>
	<string>/clc_toho-c_int.xml</string>
	<key>ニッケイ新聞</key>
	<string>/nikkey-c_int.xml</string>
	<key>日本農業新聞</key>
	<string>/agrinews-c_int.xml</string>
	<key>ハフポスト日本版</key>
	<string>/huffpost-c_int.xml</string>
	<key>ビデオニュース・ドットコム</key>
	<string>/videonewsv-c_int.xml</string>
	<key>みんなの経済新聞ネットワーク</key>
	<string>/minkei-c_int.xml</string>
	<key>レスキューナウニュース</key>
	<string>/rescuenow-c_int.xml</string>
	<key>AFPBB News</key>
	<string>/afpbbnewsv-c_int.xml</string>
	<key>BBC News</key>
	<string>/bbc-c_int.xml</string>
	<key>BuzzFeed Japan</key>
	<string>/bfj-c_int.xml</string>
	<key>CNS（China News Service）</key>
	<string>/clc_cns-c_int.xml</string>
	<key>GLOBE＋</key>
	<string>/globeplus-c_int.xml</string>
	<key>ITmedia ビジネスオンライン</key>
	<string>/zdn_mkt-c_int.xml</string>
	<key>The Guardian</key>
	<string>/clc_guard-c_int.xml</string>
	<key>THE PAGE</key>
	<string>/wordleaf-c_int.xml</string>
	<key>withnews</key>
	<string>/withnews-c_int.xml</string>
	<key>アジアプレス・ネットワーク</key>
	<string>/asiap-c_int.xml</string>
	<key>共同通信</key>
	<string>/kyodonews-c_int.xml</string>
	<key>中央社フォーカス台湾</key>
	<string>/ftaiwan-c_int.xml</string>
	<key>朝鮮日報日本語版</key>
	<string>/chosun-c_int.xml</string>
	<key>西日本新聞</key>
	<string>/nishinp-c_int.xml</string>
	<key>ニッポン放送</key>
	<string>/nshaberu-c_int.xml</string>
	<key>ニュースソクラ</key>
	<string>/socra-c_int.xml</string>
	<key>ハンギョレ新聞</key>
	<string>/hankyoreh-c_int.xml</string>
	<key>マカオ新聞</key>
	<string>/macau-c_int.xml</string>
	<key>夕刊フジ</key>
	<string>/ykf-c_int.xml</string>
	<key>聯合ニュース</key>
	<string>/yonh-c_int.xml</string>
</dict>
</plist>
